@use './utils/mixins.scss';

.presenca {
    background: linear-gradient(rgb(243, 52, 116, 0.9), rgb(161, 161, 161, 0.9));
    @include mixins.responsive-section;

    &__title {
        font-family:
            Imperial Script,
            cursive;
        font-weight: 600;
        font-size: 72px;
        text-underline-offset: 4px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: 1440px) {
            font-size: 64px;
        }

        @media (max-width: 640) {
            font-size: 32px;
        }
    }

    &__container {
        height: 50%;
        @include mixins.responsive-container;
    }

    &__img {
        height: 100%;
        width: 100%;
        max-width: 40%;
        margin-bottom: 10px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        max-width: 40%;
        font-family:
            Imperial Script,
            cursive;
        font-size: 44px;
        font-weight: 600;
        gap: 10px;

        @media (max-width: 640) {
            max-width: 100%;
            height: auto;
            padding-bottom: 5%;
            font-size: 24px;
        }

        @media (max-height: 430px) {
            max-width: 100%;
            height: auto;
            padding-bottom: 5%;
            font-size: 32;
        }

        textarea {
            resize: none;
            height: 100px;
            width: 100%;
            border-radius: 6px;
            border: 2px solid rgba(255, 219, 57, 0.9);
            font-family: Alegreya, serif;
            font-size: 24px;
        }

        &__btn {
            background-color: rgba(255, 219, 57, 0.9);
            color: #000;
            border-radius: 6px;
            border: none;
            padding: 10px 20px;
            font-family: Alegreya, serif;
            font-size: 24px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(255, 219, 57, 1);
            }

            @media (max-width: 640) {
                font-size: 18px;
                padding: 8px 16px;
            }

            @media (max-height: 430px) {
                font-size: 20px;
                padding: 8px 16px;
            }
        }
    }

    input {
        border-radius: 6px;
        border: 2px solid rgba(255, 219, 57, 0.9);
        font-family: Alegreya, serif;
        font-size: 24px;

        @media (max-width: 640) {
            font-size: 18px;
        }

        @media (max-height: 430px) {
            font-size: 20px;
            line-height: normal;
            text-align: start;
            max-height: 100%;
        }
    }
}
