@use 'hero.scss';
@use 'intro';
@use 'local';
@use 'presenca';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url(../img/hero-background.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

hr {
    width: 20%;
    margin: 0 auto;
    border: none;
    border-top: 2px solid white;

    @media (max-width: 767px) {
        width: 50%;
    }
}
